footer {
    background: var(--colour1) !important;
}

.footerCard {
    background: var(--colour1) !important;
    color: var(--colour2) !important;
}

.footerCard p{
    color: var(--colour2) !important;
}

.footer-link {
    color: var(--colour2) !important;
    text-decoration: none !important;
    width: max-content !important;
    white-space: nowrap !important;
}
  
.footer-link:hover {
    transform: scale(1.08) !important;
}