footer {
    background: var(--colour1) !important;
}

.footerCard {
    background: var(--colour1) !important;
    color: var(--colour2) !important;
}

.footerCard p{
    color: var(--colour2) !important;
}