
/*-------------------------------------*/
/* Global styles */
* {
    box-sizing: border-box !important;
}
  
body {
  font-family: 'Montserrat', 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 300 !important; 
  line-height: 1.6 !important;
  color: var(--colour1) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 700 !important;
}

p {
  font-family: 'Montserrat', 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 400 !important; 
  line-height: 1.6 !important;
}

/*-------------------------------------*/
/* general */
/* colours */
:root {
  --colour1: #5A554E;
  --colour2: #EBE9E4;
  --colour3: #8a6961;
  --colour4: #6f544e;
  --colour5: white; 
}

/* All buttons */
.btn-primary:hover, .btn-primary:active {
  background: var(--colour4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
}

button a {
  color: var(--colour2) !important;
  text-decoration: none !important;
}

button a:active {
  color: var(--colour3) !important;
}
  
