/*-------------------------------------*/
/* Global styles */
* {
    box-sizing: border-box !important;
}

/*-------------------------------------*/
/* Text */
body {
  font-family: 'Montserrat', 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 400 !important; 
  line-height: 1.6 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 700 !important;
}

p {
  font-family: 'Montserrat', 'Bogart', 'Cormorant Garamond', serif !important;
  font-weight: 400 !important; 
  line-height: 1.6 !important;
}

/*-------------------------------------*/
/* colours */
:root {
  --colour1: #5A554E;
  --colour2: #EBE9E4;
  --colour3: #8a6961;
  --colour4: #6f544e;
  --colour5: white; 
}

/*-------------------------------------*/
/* buttons */
.btn-primary {
  background-color: var(--colour3) !important;
  border: var(--colour3) !important;
  border-radius: 0 !important;
  --bs-btn-active-color: var(--colour3) !important;
  --bs-btn-active-bg: var(--colour2) !important;
  --bs-btn-active-border-color: var(--colour2) !important;
}

.btn-primary:hover, .btn-primary:active {
  background: var(--colour4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
}

button a {
  color: var(--colour2) !important;
  text-decoration: none !important;
}

button a:active {
  color: var(--colour3) !important;
}

/*-------------------------------------*/
/* Links */
.custom-link {
  color: var(--colour1) !important;
  text-decoration: none !important;
  width: max-content !important;
  white-space: nowrap !important;
}

.custom-link:hover {
  color: var(--colour3) !important;
  border-bottom: 1px solid var(--colour3) !important;
  transform: scale(1.01) !important;
}

.custom-link.active {
  border-bottom: 1px solid var(--colour3) !important;
  color: var(--colour3) !important;
}

/*-------------------------------------*/
/* for generic hero heading */
.genericHero {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  height: 35vh !important;
  min-height: 400px !important;
}

.genericHero::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.222); 
z-index: 1;
}

.genericHero > * {
position: relative;
z-index: 2;
}

.genericHero h1{
  color: var(--colour2) !important;
  width: 90%;
  font-size: clamp(48px, 4vw, 80px) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.genericHero p {
  color: var(--colour2) !important;
  width: 50%;
  font-size: clamp(18px, 1.5vw, 22px) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*-------------------------------------*/
/* Cards */
.card {
  padding: 10px !important;
  border: none !important;
}