/* Whole header */
.custom-nav {
    background: var(--colour2) !important;
    padding: 15px 30px !important;
}

/* $RenZen Logo */
.logo-button {
    height: 12vh; 
    min-height: 95px;
    width: auto;
    cursor: pointer;
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: var(--colour1);
    padding: 2px 0px !important;
    margin: 0px 15px !important;
}

.navbar-nav .nav-link:hover {
    color: var(--colour3);
    transform: scale(1.05);
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid var(--colour3);
    color: var(--colour3) !important;
}

/* Navbar Toggler */
.fa-bars, .fa-xmark {
    color: var(--colour3);
    font-size: 30px;
}

/* media queries */
@media only screen and (max-width: 991px) {
    .navbar-nav {
        align-items: end;
        padding-bottom: 30px;
    }
    .navbar-nav .nav-link {
        width: max-content;
        padding-top: 15px !important;
    }
}