/*-------------------------------------*/
/* homeHero */
/* homeHero image */
.homeHero {
    background-image: url(../assets/images/homeheroimg.jpg);
    background-size: cover !important;
    height: 85vh !important;
    min-height: 500px !important;
}

/* homeHero text */
.homeHero h1{
    color: var(--colour2) !important;
    width: fit-content;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -32vh !important;
    display: block !important;
    font-size: clamp(30px, 4vw, 80px) !important;
}

/* homeHero text */
.homeHero p {
    color: var(--colour2) !important;
    width: fit-content;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -35vh !important;
    display: block !important;
    font-size: clamp(14px, 1.5vw, 22px) !important;
}

#herogit .btn-primary {
    background-color: var(--colour3) !important;
    border: var(--colour3) !important;
    border-radius: 0 !important;
    margin-left: 30px !important;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2) !important;
    --bs-btn-active-border-color: var(--colour2) !important;
}

#herogit {
    position: relative !important;
    bottom: -45vh !important;
    font-size: clamp(14px, 1.5vw, 22px) !important;
}
