/*-------------------------------------*/
/* hero */
/* hero image */
.hero {
    background-image: url(../assets/images/hero-img.jpg);
    background-size: cover !important;
    height: 85vh !important;
    min-height: 500px !important;
}

/* hero text */
.hero h1{
    color: var(--colour2) !important;
    width: fit-content;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    display: block !important;
}

/* hero text 'font end developer' */
.hero p {
    color: var(--colour2) !important;
    width: fit-content;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    display: block !important;
}

#git .btn-primary {
    background-color: var(--colour3) !important;
    border: var(--colour3) !important;
    border-radius: 0 !important;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2) !important;
    --bs-btn-active-border-color: var(--colour2) !important;
}

/*-------------------------------------*/
/* Main content section */
/* general */
.allContent {
    width: 95% !important;
}

.secTitleContain {
    text-align: right !important;
    padding-right: 50px !important;
}

.section-block {
    border-left: solid var(--colour1) !important;
    margin: 20px 0px 20px 0px !important;
}

.card {
    padding: 10px !important;
    border: none !important;
}

/* media queries */
@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 992px) {
    .secTitleContain {
      text-align: center !important;
      border-bottom: solid var(--colour1) !important;
      width: 90% !important;
    }
  
    .section-block {
      border-left: none !important;
    }
}