    .orderImg {
        background-image: url(../assets/images/orderheroimg.jpg);
    }

    .custom-row {
        width: 75%;
    }

    @media only screen and (max-width: 900px) {
        .custom-row {
            width: 88%;
        }
    }

    @media only screen and (max-width: 515px) {
        .custom-row {
            width: 88%;
        }
    }

    @media only screen and (max-width: 414px) {
        .custom-row {
            width: 95%;
        }
    }