.allContent {
    width: 95% !important;
}

.secTitleContain {
    text-align: right !important;
    padding-right: 50px !important;
}

.section-block {
    margin: 20px 0px 20px 0px !important;
}

.card {
    padding: 10px !important;
    border: none !important;
}

/* Add scroll margin to avoid header covering part of the section, reference link in README */
#work, #skills, #about-contact, #horiseon, #prework, #mini, #demo, #portfolio {
    scroll-margin-top: 5rem !important;
} 

/* Work section */
.card-img {
    border-radius: 0px !important;
    filter: brightness(50%) !important;
    border-bottom: solid 5px var(--colour1) !important;
    transition: all 0.5s ease-out !important;
}

/* when image link is hovered, change property for img element */
.img-link:hover {
    .card-img {
        filter: none !important;
    }
}

.card-img-overlay {
    padding: 10px !important;
}

.subheading {
    background: var(--colour3) !important;
    display: inline-block !important;
    padding: 10px !important;
    position: absolute !important;
    bottom: 30px !important;
    color: var(--colour2) !important;
}

/* Hero Image */
.productsHero {
    position: relative; /* Make sure the pseudo-element is positioned correctly */
    background-image: url(../assets/images/productsheroimg.jpg);
    background-size: cover !important;
    background-position: center !important;
    height: 45vh !important;
    min-height: 500px !important;
  }
  
  .productsHero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Dark overlay with 50% opacity */
    z-index: 1; /* Ensure it sits on top of the background but behind the text */
  }
  
  .productsHero > * {
    position: relative; /* Ensure text and other elements are above the overlay */
    z-index: 2;
  }

/* Hero text */
.productsHero h1{
    color: var(--colour2) !important;
    width: 90%;
    font-size: clamp(30px, 4vw, 80px) !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.productsHero p {
    color: var(--colour2) !important;
    width: 50%;
    font-size: clamp(14px, 1.5vw, 22px) !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

svg {
   margin-right: 5px !important; 
}

#products .btn-primary {
    background-color: var(--colour3) !important;
    border: var(--colour3) !important;
    border-radius: 0 !important;
    position: relative !important;
    bottom: 0px !important;
    left: -30px !important;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2) !important;
    --bs-btn-active-border-color: var(--colour2) !important;
}

.productsBody {
    width: 50% !important;
}

@media only screen and (max-width: 880px) {
    .productsHero p {
        width: 80% !important;
    }
    .productsBody {
        width: 90% !important;
    }
    .nav-item .nav-link {
        display: inline-block !important;

    }
}